# Lending Club Case Study

## Read CSV File

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

data = pd.read_csv('D:\Parul\MyUpGrad\Course2_Statistical_Evaluation\group_project\Lending_Club_Project\loan.csv', dtype={'next_pymnt_d': 'str'})
size = data.shape
nrow = size[0]
ncol = size[1]
print(size, nrow, ncol)

(39717, 111) 39717 111

## Data Cleaning

In [16]:
null_count = data.isnull().sum(axis=0)  # count of null in each columns
print(null_count, max(null_count))

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64 39717

### Remove columns that has all values as NULL

In [17]:
col = 0
data_clean1 = pd.DataFrame()
#print(len(null_count))
data = data.dropna(axis = 1, how = 'all')
size1 = data.shape
print(size1)
nrow1 = size1[0]
ncol1 = size1[1]
print(nrow1,ncol1)

(39717, 57)
39717 57

### Check num of null in each column & drop columns with number of null vales >= nrow/2

In [19]:
print(data.isnull().sum())
data = data.dropna(thresh=nrow/2, axis=1)
size2 = data.shape
print(size2)
nrow2 = size2[0]
ncol2 = size2[1]
print(nrow2,ncol2)

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12940
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
mths_since_last_record        36931
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
next_pymnt_d                  38577
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64
(39717, 54)
39717 54

### Remove blank rows if any
#### Dropping the rows having all values as NaN/NaT 
#### when threshold of nan values = total numer of columns
d

In [11]:
'''
data = data.dropna(thresh=ncol1)
size2 = data.shape
print(size2)
nrow2 = size2[0]
ncol2 = size2[1]
'''

(14, 57)